body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding-bottom: 40px;
}
/* Light Theme*/
.custom_check{color:#3f51b5!important;}
a, .text_blue {color: #3f51b5;}
header a, header a:hover {color: #3f51b5;}
header a button,header a:hover button{opacity: 1 !important;}
.bg_blue{background-color: #3f51b5}
.screen-toggle-bar{position: absolute;top: calc(50% - 12px);right: 10px;}
.btn-primary {background-color: #3f51b5;border-color: #3f51b5;}
.btn-outline-primary {color: #3f51b5;border-color: #3f51b5;}
.badge-primary{background-color: #3f51b5;}
/* Dark Theme*/
body.dark a, body.dark .text_blue {color: #039be5;}
body.dark header a, body.dark header a:hover {color: #039be5;}
body.dark .custom_check{color:#039be5!important;}
body.dark .MuiAppBar-colorPrimary, body.dark .MuiButton-containedPrimary, body.dark .bg_blue{background-color: #039be5;}
body.dark .btn.btn-link{color: #039be5 !important}
body.dark .lds-ellipsis div{background: #039be5 !important}
body.dark .MuiChip-outlinedPrimary {color: #039be5;border: 1px solid #039be5;}
body.dark .badge-primary {background-color:#039be5;}
body.dark .btn-primary{background-color:#039be5;border-color:#039be5;}
body.dark .btn-outline-primary {color:#039be5;border-color:#039be5;}
body.dark .form-control{color: inherit;background-color: transparent;}
body.dark .MuiDrawer-paper a{color:#fff}
body.dark .MuiDrawer-paper a:hover{color:#039be5}

code {font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;}
.modal-header, .modal-body{color:#333;}
.modal-content{max-width: 450px;margin: auto;}
.alert-warning {color: inherit;background-color: transparent;border-color: inherit;}
form {margin: 0 auto;width:250px;}
.theme_switcher{position: absolute; top: -64px; left: calc(50% - 25px); box-shadow: none; cursor: pointer;}
.MuiExpansionPanelSummary-content{display:inline!important}
.MuiExpansionPanelSummary-root.Mui-expanded {min-height: 40px !important;border-radius:4px;}
.MuiTab-root {min-width: 120px!important;}
@media only screen and (min-width: 960px) {
  body.fullWidth_container span[class*="makeStyles-logo2-"], body.fullWidth_container span.jss1473{margin-right:90px}
  body.fullWidth_container .MuiContainer-maxWidthMd {max-width: 1920px!important;}
  body.laptop_container .MuiContainer-maxWidthMd {max-width: 960px!important;}
  body.tablet_container .MuiContainer-maxWidthMd {max-width: 580px!important;}
}
@media only screen and (max-width: 1130px) {
  .screen-toggle-bar{display: none;}
  body.fullWidth_container span[class*="makeStyles-logo2-"], body.fullWidth_container span.jss1473{margin-right:0px}
}
@media (max-width:768px) {
 .theme_switcher {top: -60px;left: calc(50% + 25px);}
}
@media (max-width:548px) {
  .MuiTab-root {min-width: 60px !important;}
  .MuiContainer-root.text-center{text-align: left !important;}
  .MuiTypography-body1 {font-size: 0.85rem;}
}
